/Vidraçaria/vidracaria/nbproject/private/
/Vidraçaria/vidracaria/build/
/Vidraçaria/glazing/build/
/Vidraçaria/glazing/dist/
Vidraçaria/glazing/_SERIALZED.[class-control-Controller][##MainController##].dat
Vidraçaria/glazing/_SERIALZED.[class-control-Controller][##MainController##].dat
Vidraçaria/glazing/_SERIALZED.[class-control-Controller][##MainController##].dat
Vidraçaria/glazing/_SERIALZED.[class-control-Controller][##MainController##].dat
Vidraçaria/glazing/_SERIALZED.[class-control-Controller][##MainController##].dat
Vidraçaria/glazing/_SERIALZED.[class-control-Controller][##MainController##].dat